.formulario{
  margin-top: 40px;
  padding: 8px;
  border-radius: 15px;
}

.toolbar{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.itemcillo{
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    text-align: center;
    padding-bottom: 0px;
  }

.toolbarr{
margin-top: 130px;
}

.label-iz{
    margin-top: 20px;
    
}

.label-der{
  margin-top: 20px;
  text-align: right; /* Alinea el texto a la derecha */
  direction: rtl;
  margin-bottom: 10px;
}
