.foto-auto {
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    overflow: hidden; 
  }
  
  p{
    text-align: center;
    font-family: Georgia, serif;
    color: black;
  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; 
    text-align: center;
  }

  .borde{
    border-radius: 15px;
  }