<app-encabezado2></app-encabezado2>

<ion-content class="fondo">
  <ion-text color="secondary" class="ion-text-center">
    <ion-list color="primary" class="lista">
      <ion-title style="color: #fdb820; text-align:center;">Inicio de sesión</ion-title>
      <form #miForm="ngForm" (ngSubmit)="login()">
        <ion-item>
          <ion-input 
            type="text" 
            required 
            label="Correo electrónico" 
            labelPlacement="floating" 
            placeholder="Correo" 
            name="email" 
            [(ngModel)]="email">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input 
            type="password" 
            required 
            label="Contraseña" 
            labelPlacement="floating" 
            placeholder="*******" 
            name="password" 
            [(ngModel)]="password">
          </ion-input>
        </ion-item>
        
        <ion-button class="botonini" type="submit" expand="block" fill="solid" style="--background: #2a9d65; color: white;" [disabled]="miForm.invalid">
          Iniciar Sesión
        </ion-button>
        <ion-button class="botonreg"(click)="goToRegistro()"expand="block" fill="solid" color="secondary">
          Registrarse
        </ion-button>
        <!--<ion-text color="primary">
          <h4>{{mensaje}}</h4>
        </ion-text>-->
      </form>
    </ion-list>
  </ion-text>
</ion-content>


  <!--<ion-content class="ion-padding">
    <ion-text color="primary" class="ion-text-center">
      <form class="formulario">
        <ion-toolbar>
          <ion-title>Login</ion-title>
        </ion-toolbar>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <div class="div-clave">
          <a class="clave-olvidada" routerLink="/claveolvidada">¿Olvidó su contraseña?</a>
        </div>
        <ion-button color="primary" class="botoniniciarsesion" expand="full" type="submit" >Iniciar sesión</ion-button>
        <ion-button color="primary" class="botonregistro" expand="full" type="submit"> Registrarse </ion-button>
      </form>
    </ion-text>
  </ion-content>-->


