<app-encabezado2></app-encabezado2>

<ion-content class="fondo">
  <ion-text color="secondary" class="ion-text-center">
    <ion-list color="primary" class="lista">
      <ion-title style="color: #fdb820; text-align:center;">Inicio de sesión</ion-title>
      <form #miForm="ngForm" (ngSubmit)="login()">
        <ion-item>
          <ion-input 
            type="text" 
            required 
            label="Correo electrónico" 
            labelPlacement="floating" 
            placeholder="Correo" 
            name="email" 
            [(ngModel)]="email">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input 
            type="password" 
            required 
            label="Contraseña" 
            labelPlacement="floating" 
            placeholder="*******" 
            name="password" 
            [(ngModel)]="password">
          </ion-input>
        </ion-item>
        
        <ion-button class="botonini" type="submit" expand="block" fill="solid" style="--background: #2a9d65; color: white;" [disabled]="miForm.invalid">
          Iniciar Sesión
        </ion-button>
        <ion-button class="botonreg" (click)="goToRegistro()" expand="block" fill="solid" color="secondary">
          Registrarse
        </ion-button>
      </form>
      <div class="recuperar-container">
        <a (click)="goToRecuperar()">¿Olvidaste tu contraseña?</a>
      </div>
    </ion-list>
  </ion-text>
</ion-content>



