<app-encabezado2></app-encabezado2>

<ion-content class="fondo">
  <ion-text color="secondary" class="ion-text-center">
    <ion-list class="lista">
      <h1>Inicio de sesión</h1>
      <form #miForm="ngForm" (ngSubmit)="enviar()">
        <ion-item>
          <ion-input type="text" required label="Correo" labelPlacement="floating" placeholder="correo" name='correo' [(ngModel)]="usr.correo" ></ion-input>
        </ion-item>
        <ion-item>
          <div>
            <ion-input type="password" required label="Contraseña" labelPlacement="floating" placeholder="*******" name="clave" [(ngModel)]="usr.clave"></ion-input>
          </div>
          <div>
            <ion-text (click)="goToRecuperar()">¿Olvidó su contraseña?</ion-text>
          </div>
        </ion-item>
        
        <ion-button class="botonini"(click)="enviar()" type="submit" expand="block" fill="solid" color="secondary" [disabled]="miForm.invalid">
          Iniciar Sesión
        </ion-button>
        <ion-button class="botonreg"(click)="goToRegistro()"expand="block" fill="solid" color="primary">
          Registrarse
        </ion-button>
        <ion-text color="primary">
          <h4>{{mensaje}}</h4>
        </ion-text>
      </form>
    </ion-list>
  </ion-text>
</ion-content>


  <!--<ion-content class="ion-padding">
    <ion-text color="primary" class="ion-text-center">
      <form class="formulario">
        <ion-toolbar>
          <ion-title>Login</ion-title>
        </ion-toolbar>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
        <div class="div-clave">
          <a class="clave-olvidada" routerLink="/claveolvidada">¿Olvidó su contraseña?</a>
        </div>
        <ion-button color="primary" class="botoniniciarsesion" expand="full" type="submit" >Iniciar sesión</ion-button>
        <ion-button color="primary" class="botonregistro" expand="full" type="submit"> Registrarse </ion-button>
      </form>
    </ion-text>
  </ion-content>-->


