
.lista{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
}

.texto{
    margin-right: 10px;
    justify-content: center;
}

.botonini{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.botonreg{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

/**ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
.formulario {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    box-shadow: 0 4px 8px #0000001a; 
    border-radius: 8px;
}
.botoniniciarsesion{
    border-radius: 8px; 
}

.div-clave{
    font-size: 12px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
.clave-olvidada{
    text-align: left;
    cursor: pointer;
    text-decoration:none;
}

.div-registro{
    font-size: 12px;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 10px;
}
.registro{
    text-align: right;
    cursor: pointer;
    text-decoration:none;
}**/