<!-- este encabezado está tal cuál lo retrocedi para que no tuviera ningún cambio-->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu-outline" size="large" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img slot="end" src="assets/images/profile.png" class="ion-padding" style="width: 80px; height: 80px; border-radius: 50%;"></ion-img>

    <h1 style="color: #fdb820; text-align:center;">Te Llevo App</h1>
  </ion-toolbar>
</ion-header>


