<ion-header>
  <ion-toolbar color="primary">
    <!-- Botón de cerrar sesión -->
    <ion-buttons slot="start">
      <ion-button (click)="cerrarSesion()">
        <ion-icon 
          name="log-out-outline" 
          class="icon-large" 
          style="color: white;">
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Botón de perfil -->
    <ion-buttons slot="end">
      <ion-button (click)="goToPerfil()">
        <ion-icon 
          name="person-circle-outline" 
          class="icon-large" 
          style="color: white;">
        </ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Título de la aplicación -->
    <h1 style="color: #fdb820; text-align:center;">Te Llevo App</h1>
  </ion-toolbar>
</ion-header>








