<!-- este encabezado está tal cuál lo retrocedi para que no tuviera ningún cambio-->

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="menu-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img slot="end" src="assets/images/profile.png" class="ion-padding" style="width: 80px; height: 80px; border-radius: 50%;"></ion-img>

    <ion-img src="assets/images/logo.png" class="logo" style="width: 120px; height: 60px; margin: 0 auto; border-radius: 50%;"></ion-img>
  </ion-toolbar>
</ion-header>


