<app-encabezado [mostrarBotonVolver]="true"></app-encabezado>

<ion-content class="fondo">
  <ion-text color="secondary" class="ion-text-center">
    <ion-list color="primary" class="lista">
      <ion-title style="color: #fdb820; text-align:center;">Recuperar Contraseña</ion-title>
      <form #recuperarForm="ngForm" (ngSubmit)="enviarRecuperacion()">
        <ion-item>
          <ion-input 
            type="email" 
            required 
            label="Correo electrónico" 
            labelPlacement="floating" 
            placeholder="Correo" 
            name="email" 
            [(ngModel)]="email">
          </ion-input>
        </ion-item>
        <ion-button class="botonini" type="submit" expand="block" fill="solid" style="--background: #2a9d65; color: white;" [disabled]="recuperarForm.invalid">
          Enviar
        </ion-button>
      </form>
    </ion-list>
  </ion-text>
</ion-content>