<app-encabezado2></app-encabezado2>

<ion-content class="fondo">
  <ion-text class="ion-text-center">
    <ion-list class="lista">
      <h1>Recuperar contraseña</h1>
      <form>
        <ion-text>Ingrese su correo para enviar el codigo de recuperacion</ion-text>
        <ion-item>
          <ion-input type="text" required label="Correo" labelPlacement="floating" placeholder="correo" name='correo'></ion-input>
        </ion-item> 
        <ion-item>
          <ion-input type="text" required label="Codigo" labelPlacement="floating" placeholder="Ingrese codigo" name='codigo'></ion-input>
        </ion-item>          
        <ion-button type="submit" expand="block" fill="solid" color="secondary">
          Aceptar
        </ion-button>
        <ion-button expand="block" fill="solid" color="primary">
          Volver a enviar código
        </ion-button>
      </form>
    </ion-list>
  </ion-text>
</ion-content>