<app-encabezado></app-encabezado>
<ion-content class="fondo" >
    <div class="foto-auto">
        <ion-button fill="clear" (click)="goToProgamarViajeConAuto()">
            <img class="borde" src="assets/images/persona-sin-auto-dos.jpg" alt="Persona sin auto" />
        </ion-button>
    </div>
        <p style="color: black;">Pedir un auto</p>   
    <div class="foto-auto">
        <ion-button fill="clear" (click)="goToProgramarViajeTeniendoAuto()">
            <img class="borde" src="assets/images/persona-con-auto.jpg" alt="Persona con auto" />
        </ion-button>
    </div>
        <p style="color: black;">Ya tengo auto</p>
 
        
        
           
</ion-content>
