.footer {
    position: fixed;
    bottom: 50px;
    left: 20px;
    right: 20px;
    text-align: center;

  }

  .lista{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
}
.botonreg{
    margin-left: 20px;
    margin-right: 20px;
}

