<app-encabezado></app-encabezado>


<ion-content id="main-content" class="fondo">

    <!--Contenido-->
    <div class="foto-auto">
        <ion-button fill="clear" (click)="goToPidiendoAuto()">
            <img class="borde" src="assets/images/auto-placeholder.png" alt="Imagen del botón" />
        </ion-button>
    </div>
    <p style="color: black; font-size: 20px;">Programar viaje</p>

    <div class="foto-auto">
        <ion-button fill="clear" (click)="goToHistorial()">
            <img class="borde" src="assets/images/historial.jpg" alt="Imagen del botón" />
        </ion-button>
    </div>
    <p style="color: black; font-size: 20px;">Ver Historial</p>

    <ion-button (click)="goToContactanos()" style="color:white;" class="footer">Contáctanos!</ion-button>    

</ion-content>
