#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.foto-auto {
  margin-top: 60px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  overflow: hidden;
}
p{
  text-align: center;
  font-family: Georgia, serif;
}

.footer {
  position: fixed;
  bottom: 20px; /* Espacio desde la parte inferior */
  left: 50%; /* Centrado horizontal */
  transform: translateX(-50%); /* Asegura que esté centrado */
  width: auto; /* Ajusta el ancho al contenido del botón */
  text-align: center;
  padding: 10px 20px; /* Espaciado interno del botón */
  border-radius: 10px; /* Bordes redondeados */
}

.additional-text {
  margin-top: 5px;
}

.borde{
  border-radius: 15px;
}

.texto-destacado{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px; /* Puedes ajustar el tamaño de la fuente */
    font-weight: bold; /* Puedes cambiar el grosor de la fuente */
}