<app-encabezado></app-encabezado>
<ion-content class="fondo">

  <!-- Mapa donde se mostrarán los destinos de los choferes -->
  <div id="map" style="height: 300px; width: 100%;"></div>

  <ion-list>
    <ion-item *ngFor="let viaje of viajesDisponibles">
      <ion-label>
        <h2>Chofer: {{ viaje.nombre }} {{ viaje.apellido }}</h2>
        <p>Destino: Lat {{ viaje.destino.lat }}, Lng {{ viaje.destino.lng }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button (click)="goToProgramarViajeConAuto()" style="color:white;" class="footer">Volver atrás</ion-button>

</ion-content>

