<ion-content>
  <div id="map" style="height: 400px;"></div>

  <ion-list>
    <ion-item *ngFor="let destino of destinos$ | async">
      <ion-label>
        <h2>Usuario: {{ destino.nombre }} {{ destino.apellido }}</h2>
        <p>Destino: {{ destino.direccion || 'Cargando dirección...' }}</p>
      </ion-label>
      
      <ion-button *ngIf="usuarioActivo?.uid !== destino.uid"
                  color="primary"
                  (click)="solicitarViaje(destino.id, destino.nombre)">
        Pedir
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-button expand="block" color="primary" (click)="goToProgramarViajeConAuto()">
    Programar un nuevo viaje
  </ion-button>
</ion-content>







