.foto-auto {
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    overflow: hidden; 
  }
  
  p{
    text-align: center;
    font-family: Georgia, serif;
  }

  .borde{
    border-radius: 15px;
  }
  .boton{
    margin-left: 140px;
    margin-right: 140px;
  }
  .footer {
    padding-top: 30px;
    bottom: 0;
    left: 0;
    width: 100%; 
    text-align: center;
    padding-bottom: 45px;
  }