<app-encabezado></app-encabezado>
<ion-content class="fondo">
  <ion-toolbar>
    <ion-title color="secondary">Seleccione una persona</ion-title>
  </ion-toolbar>
  <div class="foto-auto">
    <ion-button fill="clear" (click)="goToRealizado()" >
        <img class="borde" src="assets/images/persona-uno.jpg" alt="Usuario" />
    </ion-button>
    </div>
    <p style="color: black;">Ian Salazar Carrillo</p>
    <p style="color: black;">Disponible!</p>
    <div class="foto-auto">

      <ion-button fill="clear" (click)="goToRealizado()">
          <img class="borde" src="assets/images/persona-dos.png" alt="Usuario" />
      </ion-button>
      </div>
      <p style="color: black;">Nicole Quiroga Pereira</p>
      <p style="color: black;">Disponible!</p>
      <div class="foto-auto">

        <ion-button fill="clear" (click)="goToRealizado()">
            <img class="borde" src="assets/images/persona-tres.jpg" alt="Usuario" />
        </ion-button>
        </div>
        <p style="color: black;">Katherine Novoa Toledo</p>
        <p style="color: black;">Disponible!</p>
        <div class="foto-auto">

          <ion-button fill="clear" (click)="goToRealizado()">
              <img class="borde" src="assets/images/persona-cuatro.jpg" alt="Usuario" />
          </ion-button>
          </div>
          <p style="color: black;">Eduardo Del Pino Gajardo </p>
          <p style="color: black;">Disponible!</p>    

</ion-content>
