.lista{
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
}

.botonacep{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}

.footer {
    position: fixed;
    bottom: 50px;
    left: 20px;
    right: 20px;
    text-align: center;

  }

.botoncod{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
}